$color_1: rgb(121, 163, 17);
$color_2: rgb(79, 131, 156);
$color_3: rgb(226, 80, 250);
$color_4: rgb(163, 74, 46);

$colors: $color_1, $color_2, $color_3, $color_4;

$header_font: cursive;
$body_font: fantasy;
