#primary .box:nth-of-type(1), #generated .column:nth-of-type(1) .box {
  background-color: #d79c2a; }

#primary .box:nth-of-type(2), #generated .column:nth-of-type(2) .box {
  background-color: #85acbe; }

#primary .box:nth-of-type(3), #generated .column:nth-of-type(3) .box {
  background-color: #e250fa; }

#primary .box:nth-of-type(4), #generated .column:nth-of-type(4) .box {
  background-color: #8bc667; }

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center; }

h2 {
  margin-top: 2%; }

h3 {
  margin-bottom: 1%; }

.row {
  text-align: center; }

.row:last-child:after {
  width: 100%;
  clear: both;
  content: "";
  display: table; }

.box {
  width: 200px;
  height: 100px;
  display: inline-block; }

.column {
  display: inline-block;
  width: 200px; }

.half-box {
  height: 20px;
  margin-top: 5px; }

#tints .box:nth-child(1) div:nth-child(1) {
  height: 100%;
  width: 33.333%;
  float: left;
  margin-top: 2%;
  background-color: #e8c684; }
#tints .box:nth-child(1) div:nth-child(2) {
  height: 100%;
  width: 33.333%;
  float: left;
  margin-top: 2%;
  background-color: #d79c2a; }
#tints .box:nth-child(1) div:nth-child(3) {
  height: 100%;
  width: 33.333%;
  float: left;
  margin-top: 2%;
  background-color: #7e5b18; }

#tints .box:nth-child(2) div:nth-child(1) {
  height: 100%;
  width: 33.333%;
  float: left;
  margin-top: 2%;
  background-color: #cbdce3; }
#tints .box:nth-child(2) div:nth-child(2) {
  height: 100%;
  width: 33.333%;
  float: left;
  margin-top: 2%;
  background-color: #85acbe; }
#tints .box:nth-child(2) div:nth-child(3) {
  height: 100%;
  width: 33.333%;
  float: left;
  margin-top: 2%;
  background-color: #4b788d; }

#tints .box:nth-child(3) div:nth-child(1) {
  height: 100%;
  width: 33.333%;
  float: left;
  margin-top: 2%;
  background-color: #f3b8fd; }
#tints .box:nth-child(3) div:nth-child(2) {
  height: 100%;
  width: 33.333%;
  float: left;
  margin-top: 2%;
  background-color: #e250fa; }
#tints .box:nth-child(3) div:nth-child(3) {
  height: 100%;
  width: 33.333%;
  float: left;
  margin-top: 2%;
  background-color: #bb06d9; }

#tints .box:nth-child(4) div:nth-child(1) {
  height: 100%;
  width: 33.333%;
  float: left;
  margin-top: 2%;
  background-color: #c6e3b5; }
#tints .box:nth-child(4) div:nth-child(2) {
  height: 100%;
  width: 33.333%;
  float: left;
  margin-top: 2%;
  background-color: #8bc667; }
#tints .box:nth-child(4) div:nth-child(3) {
  height: 100%;
  width: 33.333%;
  float: left;
  margin-top: 2%;
  background-color: #568d35; }

.row .column:nth-of-type(1) .half-box:nth-of-type(1) {
  background-color: #d79c2a; }
.row .column:nth-of-type(1) .half-box:nth-of-type(2) {
  background-color: #baa25e; }
.row .column:nth-of-type(1) .half-box:nth-of-type(3) {
  background-color: #db8173; }
.row .column:nth-of-type(1) .half-box:nth-of-type(4) {
  background-color: #bcab3f; }

.row .column:nth-of-type(2) .half-box:nth-of-type(1) {
  background-color: #a2a68a; }
.row .column:nth-of-type(2) .half-box:nth-of-type(2) {
  background-color: #85acbe; }
.row .column:nth-of-type(2) .half-box:nth-of-type(3) {
  background-color: #a68cd3; }
.row .column:nth-of-type(2) .half-box:nth-of-type(4) {
  background-color: #87b5a0; }

.row .column:nth-of-type(3) .half-box:nth-of-type(1) {
  background-color: #de6bb1; }
.row .column:nth-of-type(3) .half-box:nth-of-type(2) {
  background-color: #c170e5; }
.row .column:nth-of-type(3) .half-box:nth-of-type(3) {
  background-color: #e250fa; }
.row .column:nth-of-type(3) .half-box:nth-of-type(4) {
  background-color: #c479c7; }

.row .column:nth-of-type(4) .half-box:nth-of-type(1) {
  background-color: #a6b752; }
.row .column:nth-of-type(4) .half-box:nth-of-type(2) {
  background-color: #89bd85; }
.row .column:nth-of-type(4) .half-box:nth-of-type(3) {
  background-color: #a99d9a; }
.row .column:nth-of-type(4) .half-box:nth-of-type(4) {
  background-color: #8bc667; }

#fonts h1 {
  font-family: cursive; }
#fonts p {
  font-family: fantasy; }
#fonts .letters span:nth-child(1) {
  color: #d79c2a; }
#fonts .letters span:nth-child(2) {
  color: #85acbe; }
#fonts .letters span:nth-child(3) {
  color: #e250fa; }
#fonts .letters span:nth-child(4) {
  color: #8bc667; }

/*# sourceMappingURL=styles.css.map */
