@import "variables";
@import "mixins";

body {
  @include reset;
  text-align: center;
}

h2 {
  margin-top: 2%;
}

h3 {
  margin-bottom: 1%;
}

.row {
  text-align: center;
}

.row:last-child:after {
  width: 100%;
  @include clearfix;
}

.box {
  @include box(100px);
}

.column {
  @include column(200px);
}

.half-box {
  height: 20px;
  margin-top: 5px;
}

@for $i from 1 through 4 {
  #primary .box:nth-of-type(#{$i}), #generated .column:nth-of-type(#{$i}) .box {
  background-color: nth($colors, $i);
  }
}

@for $i from 1 through 4 {
  #tints .box:nth-child(#{$i}) {
    div:nth-child(1){
      @include section;
      background-color: lighten(nth($colors, $i), 21%);
    }
    div:nth-child(2){
      @include section;
      background-color: nth($colors, $i);
    }
    div:nth-child(3){
      @include section;
      background-color: darken(nth($colors, $i), 21%);
    }
  }
}

@for $i from 1 through length($colors) {
  .row .column:nth-of-type(#{$i}) {
    @for $j from 1 through length($colors) {
      .half-box:nth-of-type(#{$j}) {
        background-color: mix(nth($colors, $i), nth($colors, $j), 65%);
      }
    }
  }
}

#fonts {
  h1 {
    font-family: $header_font;
  }
  p {
    font-family: $body_font;
  }

  .letters {
    @for $i from 1 through 4 {
      span:nth-child(#{$i}) {
        color: nth($colors, $i);
      }
    }
  }
}

// USELESS CSS BELOW

  //
  //   span:nth-child(1) {
  //     color: $color_1;
  //   }
  //   span:nth-child(2) {
  //     color: $color_2;
  //   }
  //   span:nth-child(3) {
  //     color: $color_3;
  //   }
  //   span:nth-child(4) {
  //     color: $color_4;
  //   }
  // }

//
// #tints .box:nth-child(2) {
//   div:nth-child(1){
//     @include section;
//     background-color: lighten($color_2, 21%);
//   }
//   div:nth-child(2){
//     @include section;
//     background-color: $color_2;
//   }
//   div:nth-child(3){
//     @include section;
//     background-color: darken($color_2, 21%);
//   }
// }
//
// #tints .box:nth-child(3) {
//   div:nth-child(1){
//     @include section;
//     background-color: lighten($color_3, 21%);
//   }
//   div:nth-child(2){
//     @include section;
//     background-color: $color_3;
//   }
//   div:nth-child(3){
//     @include section;
//     background-color: darken($color_3, 21%);
//   }
// }
//
// #tints .box:nth-child(4) {
//   div:nth-child(1){
//     @include section;
//     background-color: lighten($color_4, 21%);
//   }
//   div:nth-child(2){
//     @include section;
//     background-color: $color_4;
//   }
//   div:nth-child(3){
//     @include section;
//     background-color: darken($color_4, 21%);
//   }
// }


// .row .column:nth-of-type(1)  {
//   @for $i from 1 through length($colors)  {
//     .half-box:nth-of-type(#{$i}) {
//       background-color: mix($color_1, nth($colors, $i), 65%);
//     }
//   }
// }
//
// .row .column:nth-of-type(2)  {
//   @for $i from 1 through length($colors)  {
//     .half-box:nth-of-type(#{$i}) {
//       background-color: mix($color_2, nth($colors, $i), 65%);
//     }
//   }
// }
//
// .row .column:nth-of-type(3)  {
//   @for $i from 1 through length($colors)  {
//     .half-box:nth-of-type(#{$i}) {
//       background-color: mix($color_3, nth($colors, $i), 65%);
//     }
//   }
// }
//
// .row .column:nth-of-type(4)  {
//   @for $i from 1 through length($colors)  {
//     .half-box:nth-of-type(#{$i}) {
//       background-color: mix($color_4, nth($colors, $i), 65%);
//     }
//   }
// }

//
// .row .column:nth-of-type(2) {
//   @for $i from 2 through length($mix-colors) {
//     .half-box:nth-of-type(#{$i}) {
//       background-color: mix($color_2, $i, 65%);
//     }
//   }
// }
//
// .row .column:nth-of-type(3) {
//   @for $i from 2 through length($mix-colors) {
//     .half-box:nth-of-type(#{$i}) {
//       background-color: mix($color_3, $i, 65%);
//     }
//   }
// }
//
// .row .column:nth-of-type(4) {
//   @for $i from 2 through length($mix-colors) {
//     .half-box:nth-of-type(#{$i}) {
//       background-color: mix($color_4, $i, 65%);
//     }
//   }
// }
// .row .column:nth-of-type(1) {
//   .half-box:nth-of-type(2) {
//     background-color: mix($color_1, $color_1, 65%);
//   }
//   .half-box:nth-of-type(3) {
//     background-color: mix($color_1, $color_2, 65%);
//   }
//   .half-box:nth-of-type(4) {
//     background-color: mix($color_1, $color_3, 65%);
//   }
//   .half-box:nth-of-type(5) {
//     background-color: mix($color_1, $color_4, 65%);
//   }
// }

// .row .column:nth-of-type(2) {
//   .half-box:nth-of-type(2) {
//     background-color: mix($color_2, $color_1, 65%);
//   }
//   .half-box:nth-of-type(3) {
//     background-color: mix($color_2, $color_2, 65%);
//   }
//   .half-box:nth-of-type(4) {
//     background-color: mix($color_2, $color_3, 65%);
//   }
//   .half-box:nth-of-type(5) {
//     background-color: mix($color_2, $color_4, 65%);
//   }
// }
//
// .row .column:nth-of-type(3) {
//   .half-box:nth-of-type(2) {
//     background-color: mix($color_3, $color_1, 65%);
//   }
//   .half-box:nth-of-type(3) {
//     background-color: mix($color_3, $color_2, 65%);
//   }
//   .half-box:nth-of-type(4) {
//     background-color: mix($color_3, $color_3, 65%);
//   }
//   .half-box:nth-of-type(5) {
//     background-color: mix($color_3, $color_4, 65%);
//   }
// }
//
// .row .column:nth-of-type(4) {
//   .half-box:nth-of-type(2) {
//     background-color: mix($color_4, $color_1, 65%);
//   }
//   .half-box:nth-of-type(3) {
//     background-color: mix($color_4, $color_2, 65%);
//   }
//   .half-box:nth-of-type(4) {
//     background-color: mix($color_4, $color_3, 65%);
//   }
//   .half-box:nth-of-type(5) {
//     background-color: mix($color_4, $color_4, 65%);
//   }
// }
